.container {
  display: flex;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.logo {
  cursor: pointer;
}

.actions {
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1024px) {
  .container {
    height: 8vh;
  }
}
