.historyContainer {
  width: 95vw;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.heading h1 {
  font-size: 1.5rem;
}

.heading button {
  border: none;
  background-color: var(--white);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.heading button:hover {
  background-color: var(--secondary-color-background);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  margin-bottom: 6rem;
}

.noHistory {
  display: grid;
  place-items: center;
  min-height: 50vh;
  color: var(--gray-light);
}

@media screen and (min-width: 1025px) {
  .historyContainer {
    width: 40vw;
    margin: 2rem auto;
    padding-bottom: 2rem;
  }
}
