.container {
  padding: 0.25rem;
}

.list {
  list-style-type: none;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  font-size: 1rem;
}

.list li span {
  margin-left: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}
