.container {
  display: flex;
  height: 8vh;
  position: sticky;
  top: 0;
  background-color: var(--white);
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  box-shadow: rgb(0 0 0 / 24%) 0px 1px 8px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.logo {
  cursor: pointer;
}

.logo span {
  color: var(--secondary-color);
}

.search {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search span {
  /* border: 1px solid black; */
  background-color: var(--secondary-color);
  padding: 0.25rem 3rem;
  border-radius: 5px;
}

.search input[type='search'] {
  width: calc(40vw - 3rem);
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  margin-right: 0.25rem;
}

.user {
  cursor: pointer;
}

.navlink {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 767px) {
  .container {
    display: none;
  }
}
