.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.15) 0 1.95px 2.6px;
  padding-bottom: 0.5rem;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

.image {
  width: 100%;
  height: auto;
  max-height: 235px;
  object-fit: cover;
}

.description {
  padding: 0.5rem;
}

.channel {
  color: var(--gray);
  font-weight: 400;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1.15rem;
}

@media screen and (min-width: 768px) {
  .title {
    -webkit-line-clamp: 2;
    font-size: 1rem;
  }

  .channel {
    font-size: 0.75rem;
  }
}
